#patientCard{
    -fx-background-color: linear-gradient(to top left, #e3eaf5, #109eca, #16345f);
    -fx-border-color: white;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.55), 15,0, 1, 1);
    -fx-background-radius: 60px;
    -fx-border-radius: 55px;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-font-size: 30px;
}

.date-picker > .arrow-button {
    -fx-background-color: none;
}

.jfx-radio-button {
    -jfx-selected-color: white;
    -jfx-unselected-color: white;
}

.text-field, .text-area .content{
    -fx-background-color:   rgba(255,255,255,0.75),
                            linear-gradient(to top left, #c2c2c2 0%, #dddddd 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.75),1,0,1,1);
    -fx-font-family: "verdana";
    -fx-font-size: 18px;

}

.accept-btn{
    -fx-background-color: #22a412;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-border-color: white;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

.accept-btn:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #13420f, #0e7c74);
    -fx-text-fill: whitesmoke;
    -fx-border-width: 3px;

}

.cancel-btn{
    -fx-background-color: #c13220;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-border-color: white;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

.cancel-btn:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #4f0905, #6a400c);
    -fx-text-fill: whitesmoke;
    -fx-border-width: 3px;

}

#leftPane .logout-btn{
    -fx-background-color: #eba108;
}

#leftPane .logout-btn:hover{
    -fx-background-color: #eb7715;
    -fx-font-size:17px;
}

.glyph-icon{

    -fx-fill: white;

}

.button:hover .glyph-icon{

    -fx-fill: #ebeef3;
}