#leftPane{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
}

#topPane{

    -fx-background-color: #2b2e33;
}
#leftPane .button{
    -fx-background-color: none;
    -fx-effect: none;
    -fx-text-fill: white;
}

#leftPane #titlebtn{

    -fx-background-color: #154687;
    -fx-effect: dropshadow(gaussian, #133667, 7, 0.01,-2, 5);
}

#topbar{

    -fx-background-color: #154687;
    -fx-effect: dropshadow(gaussian, #133667, 7,0.01,-2, 5);
}

#leftPane .button:hover{
    -fx-background-color: #134a79;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}

#leftPane .button:hover .glyph-icon{

    -fx-fill: #ebeef3;
}

.text-field{
    linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
}

.button{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #146bbe, #1bda99);
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #0d1675, #0e7c74);
    -fx-text-fill: whitesmoke;

}

.glyph-icon{

    -fx-fill: white;

}

.button:hover .glyph-icon{

    -fx-fill: #ebeef3;
}