#leftPane{
    -fx-background-color: #263042;
}

.button{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #146bbe, #1bda99);
    -fx-text-fill: #dedede;
}

.button:hover{
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #0d1675, #0e7c74);
    -fx-text-fill: whitesmoke;

}

.glyph-icon{

    -fx-fill: linear-gradient(from 100% 100% to 0% 0%, #146bbe, #1bda99);

}

.button:hover .glyph-icon{

    -fx-fill: whitesmoke;
}