

.button{
    -fx-background-color: grey;
}

.button:hover{
    -fx-background-color: #ffa221;
}



#selectTest{
    -fx-background-color: firebrick;
}
#selectTest:hover{
    -fx-background-color: #ed0000;
}

