.glyph-icon-temp{
    -fx-fill: #1a1818;
}

.glyph-icon-temp-orange{
    -fx-fill: #e87600;
}

.glyph-icon-temp-grey{
    -fx-fill: #646565;
}

.glyph-icon-temp-blue{
    -fx-fill: #144265;
}

.button-temp{

    -fx-background-color: none;
    -fx-text-fill: #0e4f75;
    -fx-border-color: #0e4f75;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button-temp:hover{

    -fx-background-color: #0e4f75;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;
}

.button-temp-green{

    -fx-background-color: none;
    -fx-text-fill: #12752d;
    -fx-border-color: #12752d;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.button-temp-green:hover{

    -fx-background-color: #12752d;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30px;
}

.category-med{
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-border-color:  #427070;
    -fx-background-radius: 30px;
    -fx-background-color: #ffffff;
}
